.saper-wrapper{
	float:left;
	margin: 0 20px 20px 0;
	background-color:#F2F2F2;
	padding:10px;
}
.saper{
	border-bottom:solid 1px #666666;
	border-left:solid 1px #666666;
}
*html .saper{
	border:solid 1px #666666;
}
.saper td{
	width:20px;
	height:20px;
	background-color:#CCCCCC;
	border-right:solid 1px #666666;
	border-top:solid 1px #666666;
	text-align:center;
	font-weight:bold;
	cursor:default;
}
*html .saper td{
	border:none;
	border:solid 1px #666666;
}
.icon{
	background-position: center center;
	background-repeat: no-repeat;
}
.showbombexplode{
	background-image:url(../pics/bomba.gif);
	background-color:#FF0000!important;
}
.flag{
	background-image:url(../pics/flag.gif);
	background-color:#FFFFFF!important;
}
.quest{
	background-image:url(../pics/quest.gif);
	background-color:#FFFFFF!important;
}
.digit{
	background-color:#FFFFFF!important;
}
.empty{
	background-color:#FFFFFF!important;
}
.wrong{
	background-image:url(../pics/wrong.gif);
	background-color:#FFFFFF!important;
}
.showbomb{
	background-image:url(../pics/bomba.gif);
}
/******************************/

.panel{
	margin-top: 15px;
	
}
.panel-icon{
	cursor: pointer;
	margin-right: 6px;
	border: solid 1px #CCCCCC;
	padding: 2px;
	background-color: #FFFFFF;
}